In [117]:
import numpy as np
import pandas as pd

data = pd.read_csv('Input/tv18_5years.csv', header=0,index_col=False);


data = data[['Date','Open','High','Low','Close','Volume']]
data.fillna(value=-99999, inplace=True)

In [119]:
df1 = data[['Date','Close']].loc[1:]

In [120]:

l=[]
for i in range(1,len(data)):
    if (data['Close'].loc[i-1] != -99999.000000): 
        k= data['Date'].loc[i],data['Open'].loc[i-1],data['High'].loc[i-1],data['Low'].loc[i-1],data['Volume'].loc[i-1]
        l.append(k)

In [121]:
labels= ['Date','Open','High','Low','Volume']
df2 = pd.DataFrame.from_records(l, columns=labels)

In [123]:
df3=df1.join(df2.set_index('Date'), on='Date')

In [124]:
df3.head()

         Date      Close       Open       High        Low     Volume
1  2013-08-07  18.799999  18.100000  19.400000  17.950001  6224088.0
2  2013-08-08  19.450001  19.000000  19.700001  18.500000  2327028.0
3  2013-08-12  19.500000  19.200001  19.600000  18.850000  1200111.0
4  2013-08-13  19.700001  19.549999  19.950001  19.350000   637968.0
5  2013-08-14  19.650000  19.700001  20.400000  19.400000  9353787.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(data_train)
data_train = scaler.transform(data_train)
data_test = scaler.transform(data_test)

In [126]:
# Training and test data
n=len(df3)
train_start = 0
train_end = int(np.floor(0.8*n))
test_start = train_end
test_end = n
data_train = df3[np.arange(train_start, train_end), :]
data_test = df3[np.arange(test_start, test_end), :]

TypeError: unhashable type: 'numpy.ndarray'