In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('Input/tv18_5years.csv', header=0,index_col=False);


data = data[['Date','Open','High','Low','Close','Volume']]
data.fillna(value=-99999, inplace=True)

In [2]:
df1 = data[['Date','Close']].loc[1:]

In [3]:

l=[]
for i in range(1,len(data)):
    if (data['Close'].loc[i-1] != -99999.000000): 
        k= data['Date'].loc[i],data['Open'].loc[i-1],data['High'].loc[i-1],data['Low'].loc[i-1],data['Volume'].loc[i-1]
        l.append(k)

In [4]:
labels= ['Date','Open','High','Low','Volume']
df2 = pd.DataFrame.from_records(l, columns=labels)

In [5]:
df3=df1.join(df2.set_index('Date'), on='Date')

In [37]:
df3.head(10)

          Date      Close       Open       High        Low     Volume
1   2013-08-07  18.799999  18.100000  19.400000  17.950001  6224088.0
2   2013-08-08  19.450001  19.000000  19.700001  18.500000  2327028.0
3   2013-08-12  19.500000  19.200001  19.600000  18.850000  1200111.0
4   2013-08-13  19.700001  19.549999  19.950001  19.350000   637968.0
5   2013-08-14  19.650000  19.700001  20.400000  19.400000  9353787.0
6   2013-08-16  18.650000  19.799999  20.250000  19.500000  2314664.0
7   2013-08-19  18.000000  19.049999  19.450001  18.350000   946548.0
8   2013-08-20  17.500000  18.850000  18.850000  17.750000  5487664.0
9   2013-08-21  17.049999  17.900000  18.450001  17.299999  2601216.0
10  2013-08-22  17.549999  17.750000  18.000000  16.850000  1669285.0

In [64]:
# Training and test data
df3=df1.join(df2.set_index('Date'), on='Date')
df4 = np.array(df3.drop(['Date'], 1))

n=len(df4)
train_start = 0
train_end = int(np.floor(0.8*n))
test_start = train_end
test_end = n
data_train = df4[np.arange(train_start, train_end), :]
data_test = df4[np.arange(test_start, test_end), :]

y_train = data_train[:,0]
y_test = data_test[:,0]

X_train =data_train[:,1:]
X_test =data_test[:,1:]

print(np.shape(y_test),np.shape(y_train))

(247,) (985,)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)